* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.background {
    height: 100vh;
    background: linear-gradient( rgb(15, 121, 88) 0%, rgb(15, 121, 88) 150px, lightgray 150px, lightgray 100%);

}

.sidebar {
    height: 100%;
    width: 35%;
    min-width: 350px;
    max-width: 500px;
    border-right: 1px solid rgb(180, 180, 180);
}

.icons {
    color: rgb(165, 165, 165);
    font-size: 18px;
}