*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px red solid;
}

/* background color */
.background-green{
    background-color: rgb(15, 121, 88);
    height: 20vh;
}

.background-grey{
    background-color: lightgray;
    height: 80vh;
}