*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient( rgb(15, 121, 88) 0%, rgb(15, 121, 88) 150px, lightgray 150px, lightgray 100%);
}
 .container{
    display: flex;
    position: relative;
    width: 900px;
    max-width: 100%;  
    height: calc(100vh - 40px);
    background: #fff;
 }
 .container .left-side {
    position: relative;
    flex: 30%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

 }
 .container .right-side {
    position: relative;
    flex: 70%;
 }
.container .right-side::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/mine.jpg);
 }
 .header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
 }
 .user-img {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
 }
 .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
.nav-icons{
    display: flex;
}
.nav-icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: grey;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 20px;
}
/* .message{
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.message div{
   
}
.message div i{
    position: absolute;
left: 30px;
top: 10px;
font-size: 1.2rem;
} */

.search-chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.search-chat div{
    width: 100%;
}
.search-chat div input{
    width: 100%;
    outline: none;
    border: none;
    background-color: #fff;
    padding: 5px;
    height: 40px;
    padding-left: 40px;
    font-size: 14px;
}
.search-chat div i{
    position: absolute;
    left: 30px;
    top: 10px;
    font-size: 1.2rem;
}
.chat-list{
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
    background-color: white;
}
.chat-list .block{
    position: relative;
    width: 100%;
    display: flex;s
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.chat-list .block .img-box{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}
.chat-list .block .details{
    position: relative;
    width: 100%;
}
.chat-list .block .details .list-head{
    display: flex;
    justify-content: space-between;
}
.chat-list .block .details .list-head h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chat-list .block .details .list-head .time{
    font-size: 0.75em;
    color: #aaa;
}
.last-message{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.last-message p{
    color: #aaa;
    font-size: 0.9em;
}
